<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form class="" action="/piglatinize" method="post">
      <p>Enter your phrase: <input type="" name="user_phrase" value=""> </p>
    </form>
  </body>
</html>